section {
  margin: 0 auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
fieldset {
  margin-top: 2em;
  margin-bottom: 2em;
  border: .1px solid rgb(167, 167, 167);
  border-radius: 5px;
}
input, select {
  position: relative;
  padding: .5em;
  margin-left: 2em;
  border-radius: .4em;
  border: 0;
  background-color: rgb(219, 217, 217);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 14pt;
  margin-top: 1em;
}
input:hover {
  background-color: rgb(198, 212, 208);
}
#nompac {
  width: 400px;
}
table {
  width: 100%;
}
.tabPac {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(3, 3, 3);
  width: 1450px;
}
.tabPac thead {
  position: relative;
  font-weight: bold;
  background-color: rgb(147, 159, 155);
  text-align: center;
}
.tabPac td {
  position: relative;
  padding: .8em;
  padding-left: 3em;
  padding-right: 3em;
  border-radius: 3px;
}
.tabPac tbody:hover {
  background-color: rgb(147, 159, 155);
}
.btnpac {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
#emapac {
  width: 400px;
}
#idapac {
  width: 100px;
}
#pespac, #altpac {
  width: 70px;
}
button {
  margin-top: 2em;
  width: 140px;
  height: 40px;
  border-radius: 6px;
  cursor: pointer;
  margin-left: 2em;
  border: none;
  font-weight: bold;
  font-size: 12pt;
  color: white;
  background-color: rgb(111, 132, 133);
}
button:hover {
  background-color: rgb(216, 217, 217);
  transition: .3s;
  color: rgb(6, 6, 6);
}
.paginator {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.buscar {
  width: 500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
