.message {
  background-color: #fff;
  border: 3px solid #edc129;
  position: fixed;
  display: flex;
  top: 3;
  z-index: 10;
  width: 50%;
  margin-left: 50%;
  margin-top: 2.4em;
  left: -25%;
  padding: 1.5em;
  flex-direction: column;
}
.message-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}
.message-header button {
  padding: 0.5em;
  cursor: pointer;
}
.message p {
  font-size: 1.2em;
}
