<div class="container">
  <div>
    <form>
      <div class="search">
        <input type="text" placeholder="Busca">
      </div>
      <div class="search">
        <input type="text" placeholder="Pacientes">
      </div>
      <div class="logotagis">
        <a href="https://tagis.realclinic.com.br">
          <img a href="https://tagis.realclinic.com.br" src= "/assets/tagissite.png">
        </a>
      </div>
    </form>
  </div>
</div>
<footer>
  <span>Direitos Reservados - Patricia Lopes Branco - 2022 </span>
  <p>Telefone: </p>
</footer>
